<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>WebFilter</filter-name>
        <filter-class>filters.WebFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>WebFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controllers.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SigninController</servlet-name>
        <servlet-class>controllers.SigninController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>controllers.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controllers.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controllers.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controllers.CartControllerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerOrdersController</servlet-name>
        <servlet-class>controllers.CustomerOrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotController</servlet-name>
        <servlet-class>controllers.ForgotController</servlet-class>
        <init-param>
            <param-name>sender</param-name>
            <param-value>zedovblack@gmail.com</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>bxuitycggukqrwhg</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>controllers.AdminDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrders</servlet-name>
        <servlet-class>controllers.AdminOrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProducts</servlet-name>
        <servlet-class>controllers.AdminProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductManipulateController</servlet-name>
        <servlet-class>controllers.AdminProductManipulateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>controllers.ErrorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/account/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerOrdersController</servlet-name>
        <url-pattern>/account/orders</url-pattern>
        <url-pattern>/account/orders/cancel</url-pattern>
        <url-pattern>/account/orders/cancelorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotController</servlet-name>
        <url-pattern>/account/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/account/profile</url-pattern>
        <url-pattern>/account/profile/edit</url-pattern>
        <url-pattern>/account/profile/applychange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
        <url-pattern>/cart/addtocart</url-pattern>
        <url-pattern>/cart/buynow</url-pattern>
        <url-pattern>/cart/remove</url-pattern>
        <url-pattern>/cart/increase</url-pattern>
        <url-pattern>/cart/decrease</url-pattern>
        <url-pattern>/cart/submitorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SigninController</servlet-name>
        <url-pattern>/account/signin</url-pattern>
        <url-pattern>/account/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProducts</servlet-name>
        <url-pattern>/admin/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductManipulateController</servlet-name>
        <url-pattern>/admin/createproduct</url-pattern>
        <url-pattern>/admin/editproduct</url-pattern>
        <url-pattern>/admin/deleteproduct</url-pattern>
        <url-pattern>/admin/deleteproduct-confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrders</servlet-name>
        <url-pattern>/admin/order-detail</url-pattern>
        <url-pattern>/admin/orders</url-pattern>
        <url-pattern>/admin/orders/cancelorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>401</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error</location>
    </error-page>
</web-app>
